# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
*.lock
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
*.jks

# iOS/Mac
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# Misc
*.log
.cache/
